<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Definindo o padrão de formato do log -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- Configuração do console de saída do log -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Defina o nível de logging para todas as classes -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
